<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>19/07/30 23:40:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Locators.setUp()[pri:0, instance:in.connect2tech.cogni.Locators@2a2d45ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@597255128</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/07/30 23:40:22</td>   <td>15122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Locators.t1()[pri:0, instance:in.connect2tech.cogni.Locators@2a2d45ba]">t1</td> 
  <td>main@597255128</td>   <td></td> </tr>
</table>
